Имеются данные adult.csv (см. в материалах к занятию или на гитхабе).
Целевой переменной является уровень дохода income (крайний правый столбец).
Описание признаков можно найти по ссылке http://www.cs.toronto.edu/~delve/data/adult/adultDetail.html

Вам необходимо построить модель логистической регрессии, которая предсказывает уровень дохода человека. При возможности попробуйте улучшить точность предсказаний (метод score) с помощью перебора признаков.

Готовый ноутбук выложить на гитхаб и прислать ссылку.

In [92]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

import warnings
warnings.filterwarnings('ignore')

sns.set_style('whitegrid')
pd.set_option('display.max_columns', None) # display all columns
pd.set_option('display.max_rows', None) # display all columns

In [93]:
data = pd.read_csv( 'adult.csv' )
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [94]:
data.shape

(48842, 15)

In [95]:
data.income.unique()

array(['<=50K', '>50K'], dtype=object)

In [96]:
data['income']=data['income'].apply(lambda x: 0 if x=='<=50K' else 1  )

In [97]:
data.head(12)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,0
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,0
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,0
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,1
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,0
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,0
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,1
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,0

In [98]:
# Посмотрим на уникальные значения в нашем сете
for x in data.columns:
    print (x, data[x].unique())

age [25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54
 32 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79
 73 53 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88
 87 86]
workclass ['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
fnlwgt [226802  89814 336951 ... 129912 255835 257302]
education ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']
educational-num [ 7  9 12 10  6 15  4 13 14 16  3 11  5  8  2  1]
marital-status ['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
occupation ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']
relationship ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
race ['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
gender ['Male' 'Female']
capital-gain [    0  7688  3103  6418  7298  3908 14084  5178 15024 99999  2597  2907
  4650  6497  1055  5013 27828  4934  4064  3674  2174 10605  3418   114
  2580  3411  4508  4386  8614 13550  6849  2463  3137  2885  2964  1471
 10566  2354  1424  1455  3325  4416 25236   594  2105  4787  2829   401
  4865  1264  1506 10520  3464  2653 20051  4101  1797  2407  3471  1086
  1848 14344  1151  2993  2290 15020  9386  2202  3818  2176  5455 11678
  7978  7262  6514 41310  3456  7430  2414  2062 34095  1831  6723  5060
 15831  2977  2346  3273  2329  9562  2635  4931  1731  6097   914  7896
  5556  1409  3781  3942  2538  3887 25124  7443  5721  1173  4687  6612
  6767  2961   991  2036  2936  2050  1111  2228 22040  3432  6360  2009
  1639 18481  2387]
capital-loss [   0 1721 1876 2415 1887  625 1977 2057 1429 1590 1485 2051 2377 1672
 1628 1902 1602 1741 2444 1408 2001 2042 1740 1825 1848 1719 3004 2179
 1573 2205 1258 2339 1726 2258 1340 1504 2559 1668 1974 1980 1564 2547
 2002 1669 1617  323 3175 2472 2174 1579 2129 1510 1735 2282 1870 1411
 1911 1651 1092 1762 2457 2231 2238  653 1138 2246 2603 2392 1944 1380
 2465 1421 3770 1594  213 2149 2824 1844 2467 2163 1816 1648 2206 2352
  419 1539  880  810  974 4356 2489 1755 3683 2267 2080  155 3900 2201
 2754]
hours-per-week [40 50 30 32 10 39 35 48 25 20 45 47  6 43 90 54 60 38 36 18 24 44 56 28
 16 41 22 55 14 33 37  8 12 70 15 75 52 84 42 80 68 99 65  5 17 72 53 29
 96 21 46  3  1 23 49 67 76  7  2 58 26 34  4 51 78 63 31 92 77 27 85 13
 19 98 62 66 57 11 86 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95]
native-country ['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
income [0 1]

In [99]:
# Гм, там видно некторые наблюдения заменены знаком вопроса, постморим какие уникальные значения есть
List_For_Clean=[]
for x in data.columns:
    if '?' in data[x].unique():
        List_For_Clean.append(x)
        
        print(x, str(data[x].value_counts()[data[x].value_counts().index=='?'][0]/len(data[x])*100),'%')

workclass 5.7307235575938735 %
occupation 5.751197739650301 %
native-country 1.7546374022357807 %

In [100]:
#Заменим наши пропуски на наиболее частовстречающеейся значение
for t in List_For_Clean:
    data[t][data[t]=='?']=data['workclass'].value_counts().index[0]

In [101]:
#Удалим education, т.к education-num означает тоже самое
data.drop('education', axis=1, inplace=True)

In [102]:
data.head()

,age,workclass,fnlwgt,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,Private,103497,10,Never-married,Private,Own-child,White,Female,0,0,30,United-States,0

In [103]:
y=data['income'].copy() #Отделим таргет

X=data.copy() # Отделим объясяемые переменные
X.drop('income', axis=1, inplace=True) #и удлим из нних таргет

all_columns=list(X.columns)

In [111]:
X_train.head()

,age,workclass,fnlwgt,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
33844,71,Private,182395,13,Never-married,Craft-repair,Not-in-family,White,Male,11678,0,45,United-States
9578,52,Private,224198,9,Divorced,Sales,Not-in-family,White,Female,0,0,51,United-States
40483,29,State-gov,67053,9,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,40,Thailand
12478,41,Private,118001,7,Never-married,Machine-op-inspct,Not-in-family,Black,Male,0,0,40,United-States
26194,25,Private,29599,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,38,United-States

In [104]:
#Разделим  Нашу выборку на трейн и тест
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [225]:
def linreg(x,y):
    """
    Параметр None  у columns означается что все категорийные переменые он
    будет превращать
    в булевы """
   

    X = pd.get_dummies(x, columns = None) 
    
    from sklearn.linear_model import LogisticRegression
    model = LogisticRegression()
    model.fit( X, y )
    predictions = model.predict_proba( X )
    return model.score(X, y)

In [ ]:
#Переберем все комбинации параметров, вернем для низ оценку точности в словарь scores_train
import itertools
scores_train={}
stuff = all_columns
for L in range(1, len(stuff)+1):
    for subset in itertools.combinations(stuff, L):
        #print(data[list(subset)].head(1))
        vars_=subset
        scores_=linreg(X_train[list(subset)],y_train)
        scores_train.update({vars_:scores_})
        #print(len(scores_train))# просто смотрю что дело движется

In [227]:
#Отсортируем по возрастанию наши оценки

scores_train_sort=sorted(scores_train.items(), key=lambda x:x[1], reverse=True)

In [250]:
scores_train_sort[:10]

[(('age',
   'workclass',
   'educational-num',
   'marital-status',
   'occupation',
   'relationship',
   'gender',
   'capital-gain',
   'capital-loss',
   'hours-per-week',
   'native-country'),
  0.8517601760176018),
 (('age',
   'workclass',
   'educational-num',
   'marital-status',
   'occupation',
   'relationship',
   'race',
   'gender',
   'capital-gain',
   'capital-loss',
   'hours-per-week',
   'native-country'),
  0.8513629140691847),
 (('age',
   'workclass',
   'educational-num',
   'marital-status',
   'occupation',
   'relationship',
   'gender',
   'capital-gain',
   'capital-loss',
   'hours-per-week'),
  0.8512712382349346),
 (('age',
   'workclass',
   'educational-num',
   'occupation',
   'relationship',
   'race',
   'capital-gain',
   'capital-loss',
   'hours-per-week',
   'native-country'),
  0.8511490037892678),
 (('age',
   'workclass',
   'educational-num',
   'occupation',
   'relationship',
   'race',
   'gender',
   'capital-gain',
   'capital-loss',
   'hours-per-week',
   'native-country'),
  0.8511184451778511),
 (('age',
   'workclass',
   'educational-num',
   'marital-status',
   'occupation',
   'relationship',
   'capital-gain',
   'capital-loss',
   'hours-per-week',
   'native-country'),
  0.8510878865664344),
 (('age',
   'workclass',
   'educational-num',
   'occupation',
   'relationship',
   'gender',
   'capital-gain',
   'capital-loss',
   'hours-per-week'),
  0.8510573279550178),
 (('age',
   'workclass',
   'educational-num',
   'marital-status',
   'occupation',
   'race',
   'capital-gain',
   'capital-loss',
   'hours-per-week',
   'native-country'),
  0.8509962107321843),
 (('age',
   'workclass',
   'educational-num',
   'occupation',
   'relationship',
   'capital-gain',
   'capital-loss',
   'hours-per-week',
   'native-country'),
  0.8509656521207676),
 (('age',
   'workclass',
   'educational-num',
   'occupation',
   'relationship',
   'gender',
   'capital-gain',
   'capital-loss',
   'hours-per-week',
   'native-country'),
  0.8509656521207676)]

In [229]:
#Например для десяти лучших прогоним на тетстовой выборке регрессию и посомтрим насокльок точно мы попадаем
scores_test={}
for x in range(0,10):
    vars_=scores_train_sort[:][x][0]
    scores_=linreg(X_test[list(vars_)],y_test)
    delta_scores=scores_-scores_train_sort[:][x][1]#Здесь из оценки точности теста вычитаем точность теста, ну типа устойчивость провееряем
    scores_test.update({vars_:delta_scores})

In [230]:
#как видим точность на тестовой выборке осталось изменилась на десятые доли процента
scores_test

{('age',
  'workclass',
  'educational-num',
  'marital-status',
  'occupation',
  'relationship',
  'gender',
  'capital-gain',
  'capital-loss',
  'hours-per-week',
  'native-country'): 0.003556860835605802,
 ('age',
  'workclass',
  'educational-num',
  'marital-status',
  'occupation',
  'relationship',
  'race',
  'gender',
  'capital-gain',
  'capital-loss',
  'hours-per-week',
  'native-country'): 0.0032096135396997294,
 ('age',
  'workclass',
  'educational-num',
  'marital-status',
  'occupation',
  'relationship',
  'gender',
  'capital-gain',
  'capital-loss',
  'hours-per-week'): 0.0033633318109768107,
 ('age',
  'workclass',
  'educational-num',
  'occupation',
  'relationship',
  'race',
  'capital-gain',
  'capital-loss',
  'hours-per-week',
  'native-country'): 0.002927184323401222,
 ('age',
  'workclass',
  'educational-num',
  'occupation',
  'relationship',
  'race',
  'gender',
  'capital-gain',
  'capital-loss',
  'hours-per-week',
  'native-country'): 0.0030197853718448853,
 ('age',
  'workclass',
  'educational-num',
  'marital-status',
  'occupation',
  'relationship',
  'capital-gain',
  'capital-loss',
  'hours-per-week',
  'native-country'): 0.003236471294342347,
 ('age',
  'workclass',
  'educational-num',
  'occupation',
  'relationship',
  'gender',
  'capital-gain',
  'capital-loss',
  'hours-per-week'): 0.0035151996538667074,
 ('age',
  'workclass',
  'educational-num',
  'marital-status',
  'occupation',
  'race',
  'capital-gain',
  'capital-loss',
  'hours-per-week',
  'native-country'): 0.0024595530102154983,
 ('age',
  'workclass',
  'educational-num',
  'occupation',
  'relationship',
  'capital-gain',
  'capital-loss',
  'hours-per-week',
  'native-country'): 0.0037930027991976978,
 ('age',
  'workclass',
  'educational-num',
  'occupation',
  'relationship',
  'gender',
  'capital-gain',
  'capital-loss',
  'hours-per-week',
  'native-country'): 0.003917087673251496}